.koment .koment-progress-control {
  display: none !important;
}

.koment.koment-toggle-menu .koment-progress-control {
  display: none !important;
}

.video-js.vjs-fullscreen .koment.koment-toggle-list .koment-list {
  width: 20%;
}

