.vjs-load-progress-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0;

  // Need to fix centered page layouts
  text-align: left;

  box-sizing: border-box;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;

  .circular {
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }

}

.vjs-seeking .vjs-load-progress-spinner,
.vjs-waiting .vjs-load-progress-spinner {
  opacity: 0.85;
  display: block;
}

// only animate when showing because it can be processor heavy
.vjs-seeking .vjs-load-progress-spinner .circular,
.vjs-waiting .vjs-load-progress-spinner .circular {
  -webkit-animation: rotate 2s linear infinite, vjs-spinner-fade 0.4s linear 1;
  animation: rotate 2s linear infinite, vjs-spinner-fade 0.4s linear 1;
}

.vjs-seeking .vjs-load-progress-spinner .path,
.vjs-waiting .vjs-load-progress-spinner .path {
  -webkit-animation: 1.5s ease-in-out infinite,
  color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite,
  color 6s ease-in-out infinite;
}

.vjs-waiting .vjs-load-progress-spinner .path {
  -webkit-animation-delay: 0.44s;
  animation-delay: 0.44s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  100%, 0% {
    stroke: $color-yellow;
  }
  40% {
    stroke: $color-indigo;
  }
  66% {
    stroke: $color-purple;
  }
  80%, 90% {
    stroke: $color-yellow;
  }
}

@keyframes color {
  100%, 0% {
    stroke: $color-yellow;
  }
  40% {
    stroke: $color-indigo;
  }
  66% {
    stroke: $color-purple;
  }
  80%, 90% {
    stroke: $color-yellow;
  }
}

@keyframes vjs-spinner-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@-webkit-keyframes vjs-spinner-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

/* Buffer Spinner
  --------------------------------------------------------------------------------
  */
//.vjs-load-progress-spinner {
//  //display: none;
//
//  position: absolute;
//  top: 50%;
//  left: 50%;
//
//  font-size: 4em;
//  line-height: 1;
//
//  width: 1em;
//  height: 1em;
//
//  margin-left: -0.5em;
//  margin-top: -0.5em;
//
//  &:before {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 1em;
//    height: 1em;
//    text-align: center;
//    text-shadow: none;
//  }
//
//  .circular {
//    height: 100%;
//    transform-origin: center center;
//    width: 100%;
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    margin: auto;
//  }
//
//  .path {
//    stroke-dashoffset: 0;
//    transition: 0.5s ease-in-out;
//    stroke-linecap: round;
//    stroke: $color-yellow;
//  }
//
//  @keyframes rotate {
//    100% {
//      transform: rotate(360deg);
//    }
//  }
//  @keyframes dash {
//    0% {
//      stroke-dasharray: 1, 200;
//      stroke-dashoffset: 0;
//    }
//    50% {
//      stroke-dasharray: 89, 200;
//      stroke-dashoffset: -35;
//    }
//    100% {
//      stroke-dasharray: 89, 200;
//      stroke-dashoffset: -124;
//    }
//  }
//  @keyframes color {
//    100%, 0% {
//      stroke: $color-yellow;
//    }
//    40% {
//      stroke: $color-indigo;
//    }
//    66% {
//      stroke: $color-purple;
//    }
//    80%, 90% {
//      stroke: $color-yellow;
//    }
//  }
//
//}
//
//&.vjs-playing .vjs-load-progress-spinner {
//  //display: none;
//}
//
///* Show the spinner when waiting for data and seeking to a new time */
//&.vjs-waiting .vjs-load-progress-spinner,
//&.vjs-seeking .vjs-load-progress-spinner {
//  display: block;
//
//  /* only animate when showing because it can be processor heavy */
//  //
//  animation: none !important;
//
//  .circular {
//  }
//  .dash {
//  }
//}
//
///* Errors are unrecoverable without user interaction so hide the spinner */
//&.vjs-error .vjs-load-progress-spinner {
//  display: none;
//
//  /* ensure animation doesn't continue while hidden */
//  //
//  animation: none !important;
//}
